$green-color: #34c1a6;
$grey: #ccc;

.button {
  border: solid 1px $green-color;
  border-radius: 30px;
  color: $green-color;
  font-size: 12px;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;

  &:not(:disabled) {
    &:hover {
      border: solid 2px $green-color;
    }
  
    &:active {
      border: solid 3px $green-color;
    }  
  }

  &:disabled {
    cursor: default;
    border: solid 1px $grey;
    color: $grey;
  }
}