$green: #34c1a6;
$red: #FF0000;
$grey: #ccc;

.button {
  border: solid 1px $green;
  border-radius: 30px;
  color: $green;
  font-size: 12px;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;

  &.danger {
    border: solid 1px $red;
    color: $red;
  }

  &:not(:disabled) {
    &.primary {
      &:hover {
        border: solid 2px $green;
      }
    
      &:active {
        border: solid 3px $green;
      }  
    }

    &.danger {
      &:hover {
        border: solid 2px $red;
      }
    
      &:active {
        border: solid 3px $red;
      }  
    }
  }

  &:disabled {
    cursor: default;
    border: solid 1px $grey;
    color: $grey;
  }
}